<link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Jura|Niconne|Russo+One|Viga" rel="stylesheet">

<h1 style="font-family: 'Viga', sans-serif;"> Criimz-quotes app</h1>
<div class=row>
        <app-quote-form class="col-md-4" (addQuote)="addNewQuote($event)"></app-quote-form>
    
    
            <div class="col-md-4">
                    <div *ngFor='let quote of quotes;let i = index'>
                            <ul>
                                 <li appStrikethrough>{{quote.name}}</li>
                            </ul>
                            <button  (click)='toogleDetails(i)'>Toogle Details</button>
                    
                            <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'completequote($event,i)'></app-quote-details>
                        </div>

            </div>
            
            
</div>

  
        
      






