<h1> Criimz-quotes app</h1>
<div class="container">
    <div class="row">
        <app-quote-form></app-quote-form>
    </div>
    <ul>
        <div *ngFor='let quote of quotes;let i = index'>
            <ul>
                 <li appStrikethrough>{{quote.name}}</li>
            </ul>
            <button  (click)='toogleDetails(i)'>Toogle Details</button>
    
            <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'completeQuote($event,i)'></app-quote-details>
        </div>
    </ul>
</div>

